input[type="search"] , input[type="text"] , input[type="email"] {

    outline: none;
    
    border-radius: 122px;
    height: 30px;
    width: 25rem;
    caret-color: #fff;
    color:#fff;

    position: relative;
    right:-20px;

    background: #72717175;

    &::placeholder{
        color:#ffffffa1;
        position: relative;
        right:-20px;
    }

    &:hover, &:active{
        border: 1px solid #fff;
        // border: none;
        outline: none;
        // border-bottom : 1px solid #fff;
    }

}

input[type="button"] , button {

    border-radius : 25px;
    background : #ff000000;
    border: 0.7px solid #fff;
    height: 25px;

    &:hover {
        background : #d7d7d717;
    }

}