input[type="search"] , input[type="text"] , input[type="email"] {

    border: none;
    outline: none;

    border-radius: 12px;
    height: 20px;
    caret-color: #fff;
    color:#fff;

    background: #72717175;

    &:hover{
        border: none;
        outline: none;
    }

}