input[type="search"] , input[type="text"] , input[type="email"] {

    border: none;
    outline: none;

    border-radius: 12px;
    height: 22px;
    caret-color: #fff;
    color:#fff;

    background: #72717175;

    &:hover{
        border: none;
        outline: none;
        // border-bottom : 1px solid #fff;
    }

}

input[type="button"] , button {

    border-radius : 25px;
    background : #ff000000;
    border: 0.7px solid #fff;
    height: 25px;

    &:hover {
        background : #d7d7d717;
    }

}